html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html {
  height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Press Start 2P', monospace;
}

/* transparent image bg */
#background {
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

#resultControls {
  position: fixed;
  z-index: 2;
  background-color: rgba(0,0,0,0.6);
  top: 4px;
  left: 4px;
  padding: 4px;
}

#resultImage {
  width: 100%;
}

#infoContainer {
  width: 50%;
}

#controls {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  line-height: 1.5;
  text-shadow: 2px 2px gray;
  transition: text-shadow 0.7s ease;
}

.controlContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100px;
}

#imageUploadButton {
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  left: 0;
}

#explanation {
  padding: 20px;
}

.hidden {
    display: none;
}

#status {
    font-size: 26px;
    font-weight: bold;
    color: rgb(50, 50, 50);
}
